@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if(Model == null)
    {
        <div>
            <h2>Ops! Ocorreu um erro, mas não se precupe pois nosso time de suporte será avisado e corrigiremos em breve!</h2>
        </div>
    }
    else{
        ViewData["Title"] = Model.Title;
        <div>
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>
    }
}